# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log

# Django migrations
*/migrations/
!*/migrations/__init__.py

# Pipenv
Pipfile.lock

# VSCode or IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Static files (if collected)
staticfiles/

# Uvicorn reload files
*.reload

# Redis dump (if enabled)
dump.rdb
